<div class="site-header">
    <a class="internal-link" href="{{ site.baseurl }}/" id="home-link">{{ site.title }}</a>
    <a id="hamburger-menu">
        <div class="menu-icon"></div>
        <div class="menu-icon center-menu-icon"></div>
        <div class="menu-icon"></div>
    </a>
</div>

<div class="side-nav-container">
    {% assign first_level_notes = site.notes | where_exp: "notes", "notes.has_parent == nil" | sort: "title" %}
    {% assign second_level_notes = site.notes | where_exp: "notes", "notes.has_parent != nil" | sort: "title" %}

    {% for note in first_level_notes %}

        <div class="side-nav-feed">
            
            {% comment %}
                if we're on the current page, we assign the current-page class
            {% endcomment %}

            <a href="{{ site.baseurl }}{{note.url}}" class="nav-link">
                <div class="nav-title {% if page.title == note.title %} current-page {% endif %}">
                    {{ note.title }}
                </div>
            </a>

            {% comment %}
                if the note has child pages, then display the drop down arrow    

                if the current page's has_parent attribute points to the current parent page
                that we're looping through, that means we're currently on a child page whoes parent
                is the note that we're looping through, if so, set the drop down image to open
            {% endcomment %}

            {% if note.has_children %}
                <img src="{{ '/assets/media/drop-down-arrow.png' | relative_url }}" class="drop-down-img"
                {% if page.has_parent == note.title %} style="transform: rotate(180deg);" 
                {%- else -%} style="transform: rotate(0);" {% endif %} alt="drop down arrow">
            {% endif %}

            {% comment %}
                if the note has child pages, assign its child pages to child_pages and loop through 
                them and display them. All the child pages' has_parent frontmatter should point to
                their parent page's title (NOT the file name but the frontmatter title)
            {% endcomment %}

            {% if note.has_children %}
            
                <div class="child-wrapper" {% if page.has_parent == note.title %} 
                style="display: block;" {% else %} style="display: none" {% endif %}>

                {% assign child_pages = second_level_notes | where: "has_parent", note.title %}

                {% for child_note in child_pages %}
                    <div class="side-nav-feed">
                
                    <a href="{{ site.baseurl }}{{child_note.url}}" class="nav-link">
                        <div class="nav-title child-link {% if page.title == child_note.title %} current-page {% endif %}">
                            {{ child_note.title }}
                        </div>
                    </a>
    
                    </div>
                {% endfor %}
                
                </div>
            {% endif %}

            {% comment %}
                if the current page that we're on has children, then assign toc_list to be a list of that page's
                children
            {% endcomment %}

        </div>

    {% endfor %}

</div>

<noscript>
    <!-- if js isn't supported, show everything -->
    <style>
        .side-nav-container{
            display: block;
        }
        .child-wrapper{
            display: block !important;
        }
    </style>
    <footer style="justify-content: center; display: flex;">JS isn't enabled, goodluck with that.</footer>
</noscript>

<script type="text/javascript">

    const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)

    // get all the buttons
    let collapsible = document.getElementsByClassName("drop-down-img");
    if (collapsible.length > 0){
        for (let i = 0; i < collapsible.length; i++){
            // when the button is clicked
            collapsible[i].onclick = function() {
                console.log(this.nextElementSibling);

                let childWrapper = this.nextElementSibling;
                if (childWrapper.style.display == "none" || !childWrapper.style.display){
                    childWrapper.style.display = "block";
                    collapsible[i].style.transform = "rotate(180deg)";
                }
                else if (childWrapper.style.display == "block"){
                    childWrapper.style.display = "none";
                    collapsible[i].style.transform = "rotate(0)";

                }
            }
        }
    }

    let hamburgerMenu = document.getElementById("hamburger-menu");
    let sideNavContainer = document.getElementsByClassName("side-nav-container")[0];

    hamburgerMenu.onclick = function() {
        sideNavContainer.style.display = (window.getComputedStyle(sideNavContainer).display == "none") ? "block" : "none";
    }

</script>